Migracao_cardigan_genes/[PATO]Cria_bd_e_popula_genes_e_coordenadas.sql
backup_sandbox.txt
backup_sandbox_2018.05.03_estrutura.sql
drive-download-20180508T163351Z-001.zip
drive-download-20180508T163351Z-001/
drive-download-20180508T163643Z-001.zip
drive-download-20180508T163643Z-001/
dumps_parciais_sandbox.zip
dumps_parciais_sandbox/
teste_postgresql_connection.py
Cria_bd_e_popula_genes_e_coordenadas_Ester.sql
